:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #ff0000 16.666%,
    #ff9900 16.666%,
    #ff9900 33.333%,
    #33cc33 33.333%,
    #33cc33 50%,
    #3399ff 50%,
    #3399ff 66.666%,
    #9933cc 66.666%,
    #9933cc 83.333%,
    #ff3366 83.333%
  );
  background-size: 240% 240%;
  animation: gradient 10s infinite linear;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

main {
  display: grid;
  height: 100vh;
  width: 100vw;
}

section {
  font-weight: bold;
  height: 100vh;
}

section > span {
  font-size: 3rem;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.flex button:hover {
  background-color: aliceblue;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
  color: transparent; /* Texto con color transparente */
  -webkit-background-clip: text; /* Aplicar fondo solo en el texto */
}

footer {
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

footer > ul {
  display: flex;
  align-items: center;
  gap: 8px;
}

.circleBox {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
}

.references {
  list-style: none;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 50px;
  height: 50px;
}

.references img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
